.App {
    text-align: center;
}

.recording {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.live-container {
    justify-content: center;
}

.live {
    color: #fff;
    background-color: red;
}